<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head.ejs') %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('components/menu.ejs') %>
    <div id="header">
        <h1>6ยบ grade Science webpage <img src="favicon.png" height="75" width="75"> </h1>
        <p style="font-size: 25px;">Welcome to the 6ยบ grade webpage about Science! Here you will find a lot of videos, facts and info about Science. <br> You can upload stuff too. Ask webmasters for an editors key.</p>
    </div>
    <h2>Navigate through our webpage with the links above!</h2>
</body>
</html>